.label {
  background: #efefef;
  color: #999;
  font-weight: 700;
  font-size: 70%;
  padding: 2px 4px;
  margin-right: 5px;
}

.label {
  border-radius: 2px;
  text-transform: uppercase;
  font-style: normal;
  white-space: nowrap;
}

table .label {
  float: left;
}

.toc-wrapper {
  // background-color: #00c2a8;
}

#logo-wrapper {
  background-color: #fff;
  text-align: center;
  padding: 1rem;

  img {
    margin: 0 auto;
  }
}

.content blockquote > p {
  background-color: #000;
}

.content h3 {
  margin-top: 0;
}
